
<body *ngIf="filtersLoaded | async">
    <div class="body-wrapper">
        <header>
            <section class="filter-list expanded">

                  <a class="btn btn-close" [routerLink]="['/home']">x</a>

                <!--Start of departments -->
                <div class="department-list" >
                    <div class="department" *ngFor="let department of data_Department.departments">

                        <div class="dept-name"> {{department.name}}</div>
                        <div class="subjects-wrapper" >
                          <!--(click)="onClickSubmit(subject)"-->
                            <div class="subject-name"
                            *ngFor="let subject of department.subjects; let i = index">
                               <div  [routerLink]="['/view3/',subject,department.name] " > {{subject}}</div>

                            </div>

                        </div>

                    </div>
                    <div class="department all">
                        <div class="dept-name">All Departments</div>
                        <div class="subjects-wrapper">
                            <div class="subject-name active">All Subjects</div>
                        </div>
                    </div>
                </div>

              <!--End of departments -->
            </section>
        </header>
            <!--End of  students information -->

    </div>
</body>
