* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}



html,
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

#myList li{ display:none;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.body-wrapper {
  position: relative;
  width: 90vw;
  margin: 0 auto;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  background: #EEEEEE;
  padding-top: 7vw;
  overflow-y: auto;
}
.filter-list {
  position: fixed;
  width: 90vw;
  top: 0;
  background: #DDD;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1vw 3vw 1vw 1vw;
  box-sizing: border-box;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.3);
}
.filter-list .department-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.filter-list .department-list .department {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}
.filter-list .department-list .department + .department {
  margin-top: 1vw;
  padding-top: 1vw;
  border-top: 1px dashed #333;
}
.ffilter-list .ddept-name {
  font-size: 1vw;
  font-weight: bold;
  padding: 1vw;
  background: gray;
  color: white;
  border-radius: .25vw;
  flex: none;
  height: 1vw;
  width: 10vw;
  margin-right: 1vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.filter-list a.btn {
  text-decoration: none;
  flex: none;
  position: fixed;
  font-size: 1vw;
  display: block;
  border-radius: 2px;
  width: 2vw;
  height: 2vw;
  right: 6vw;
  top: 1.25vw;
  z-index: 999;
  text-align: center;
  line-height: 2vw;
  outline: none;
  border: none;
  cursor: pointer;
  background: red;
  color: white;
}
.filter-list a.btn:hover {
  background: aqua;
  color: #333;
}
.filter-list .subjects-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
subjects-wrapper{
height: 5px;
}
#First_Inline {
  position: relative;
  z-index: 99 !important;
}
.subject-name.active{
  position:fixed;
}
.subject-name{
  display: inline-block;
  width: fit-content(30vw);
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subject-name:hover{

}

.subject-name:nth-of-type(1n+5){
  display: none;
}


.filter-list .subjects-wrapper .subject-name {
  border: 1px solid #CCC;
  font-size: 1vw;
  margin-right: .5vw;
  margin-bottom: .5vw;
  padding: 1vw;
  border-radius: .25vw;
  height: 5px;

}
.filter-list .subjects-wrapper .subject-name:hover {
  cursor: pointer;
  background: skyblue;
  color: white;
}
.filter-list .subjects-wrapper .subject-name.active {
  background: white;
  color: blueviolet;
  font-weight: bold;
}
.filter-list .subjects-wrapper .subject-name.active:hover {
  cursor: default;
}
.filter-list .subjects-wrapper .additional-subject {
  border: 1px solid transparent;
  font-size: 1vw;
  padding: 1vw;
  font-weight: bold;
}
.filter-list.expanded {
  padding-right: 3vw;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.3);
  max-height: 100%;
  overflow-y: auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.data-wrapper {
  padding-left: 1vw;
  padding-right: 1vw;
}
.data-wrapper .filtered-student {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.data-wrapper .filtered-student li {
  background: white;
  border: 1px solid #CCC;
  display: block;
  float: left;
  list-style-type: none;
  padding: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
}
.data-wrapper .filtered-student li > span {
  display: block;
  line-height: 1.6;
  font-weight: bold;
  color: #444;
}
.data-wrapper .filtered-student li > span.name {
  color: #333;
  font-size: 1vw;
  text-transform: uppercase;
}
.data-wrapper .filtered-student li > span .value {
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  overflow: hidden;
}
.body-wrapper {
  position: relative;
  width: 90vw;
  margin: 0 auto;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  background: #EEEEEE;
  padding-top: 7vw;
  overflow-y: auto;
}
.filter-list {
  position: fixed;
  width: 90vw;
  top: 0;
  background: #DDD;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1vw 3vw 1vw 1vw;
  box-sizing: border-box;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.3);
}
.filter-list .department-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.filter-list .department-list .department {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}
.filter-list .department-list .department + .department {
  margin-top: 1vw;
  padding-top: 1vw;
  border-top: 1px dashed #333;
}
.filter-list .dept-name {
  font-size: 1vw;
  font-weight: bold;
  padding: 1vw;
  background: gray;
  color: white;
  border-radius: .25vw;
  flex: none;
  height: 1vw;
  width: 10vw;
  margin-right: 1vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.filter-list a.btn {
  text-decoration: none;
  flex: none;
  position: fixed;
  font-size: 1vw;
  display: block;
  border-radius: 2px;
  width: 2vw;
  height: 2vw;
  right: 6vw;
  top: 1.25vw;
  z-index: 999;
  text-align: center;
  line-height: 2vw;
  outline: none;
  border: none;
  cursor: pointer;
  background: red;
  color: white;
}
.filter-list a.btn:hover {
  background: aqua;
  color: #333;
}
.filter-list .subjects-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.filter-list .subjects-wrapper .subject-name {
  border: 1px solid #CCC;
  font-size: 1vw;
  margin-right: .5vw;
  margin-bottom: .5vw;
  padding: 1vw;
  border-radius: .25vw;
}
.filter-list .subjects-wrapper .subject-name:hover {
  cursor: pointer;
  background: skyblue;
  color: white;
}
.filter-list .subjects-wrapper .subject-name.active {
  background: white;
  color: blueviolet;
  font-weight: bold;
}
.filter-list .subjects-wrapper .subject-name.active:hover {
  cursor: default;
}
.filter-list .subjects-wrapper .additional-subject {
  border: 1px solid transparent;
  font-size: 1vw;
  padding: 1vw;
  font-weight: bold;
}
.filter-list.expanded {
  padding-right: 3vw;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.3);
  max-height: 100%;
  overflow-y: auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.data-wrapper {
  padding-left: 1vw;
  padding-right: 1vw;
}
.data-wrapper .filtered-student {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.data-wrapper .filtered-student li {
  background: white;
  border: 1px solid #CCC;
  display: block;
  float: left;
  list-style-type: none;
  padding: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
}
.data-wrapper .filtered-student li > span {
  display: block;
  line-height: 1.6;
  font-weight: bold;
  color: #444;
}
.data-wrapper .filtered-student li > span.name {
  color: #333;
  font-size: 1vw;
  text-transform: uppercase;
}
.data-wrapper .filtered-student li > span .value {
  font-weight: normal;
}

#NoData{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff1a00+0,ff1a00+100;Red+Flat+%231 */
background: #ff1a00; /* Old browsers */
background: -moz-linear-gradient(top, #ff1a00 0%, #ff1a00 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ff1a00 0%,#ff1a00 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ff1a00 0%,#ff1a00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ff1a00',GradientType=0 ); /* IE6-9 */
  text-align: center;
  color: white;
}

.department-name-tooltip{
    background:black;
    position: absolute;
    top: 0;
    padding: .25vw .5vw;
    border-radius: .25vw;
    &:before{
        content: '';
        display: block;
        position: absolute;
        bottom: -.6vw;
        left: calc(~"50% - .4vw");
        width: 0;
        height: 0;
        border-left: .8vw solid transparent;
        border-right: .8vw solid transparent;
        border-top: .8vw solid black;
    }
    .tooltip-content{
        color: white;
        font-size: .7em;
        line-height: 1.2;
    }
}
