
<body *ngIf="filtersLoaded | async">
    <div class="body-wrapper">
        <header>
            <section class="filter-list">
              <!-- Home -->
              <a class="btn btn-expand" [routerLink]="['/view2']">> </a>
                <div class="department-list">
                    <div class="department">

                        <!--Department name  -->
                        <div class="dept-name">{{department}}</div>
                        <div class="subjects-wrapper" id="get_All_element" >

                            <!--Showing all of the subjects within a certain department  -->
                            <div id="{{i}}" title="{{i}}"  class="subject-name" [style.display]="isVisible ? 'inline-block' : ''" *ngFor="let i of getSubjects"
                          (click)="reloadPage()" [routerLink]="['/view3/',i,department] "
                            >
                                {{i}}
                              </div>

                              <!--Marking the current topic as the active element and making sure it is shown first in the array  -->
                            <span [ngClass]="ActiveOrNot(i,current_Topic)" *ngFor="let i of getSubjects"> </span>


                            <!--This button loads more subjects if there are any  -->
                            <button class="additional-subject" id="loadMore"  (click)="showElements()">+ {{subject_length}} more</button>
                        </div>


                    </div>
                </div>
            </section>
        </header>

        <section>
            <div class="data-wrapper" >
                <ul class="filtered-student" *ngFor="let students of information"> <!-- *ngFor="let student of view3_data_Student.body.studentData.students" -->

                        <li *ngIf="isEmpty > 0">
                          <span class="name">{{students.familyName}}, {{students.givenName}}</span>
                          <span class="dob">DOB: <span class="value">{{students.dob|date:"MM/dd/yyyy"}}</span></span>
                          <span class="admit-date">Admitted: <span class="value">{{students.admitDate|date:"MMMM dd,yyyy"}}</span></span>
                          <span class="grad-date">Anticipated Graduation: <span class="value">{{students.anticipatedGraduationDate|date:"MMMM yyyy"}}</span></span>
                          <span class="mentor">Mentor: <span class="value">{{students.mentor.givenName}},{{students.mentor.familyName}}</span></span>
                        </li>

                </ul>

            </div>
            <h1  *ngIf="isEmpty == 0">

              <h1  id='NoData'> No data Available</h1>
            </h1>

        </section>


    </div>
</body>
