
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ensue Subjects</title>
</head>
<body *ngIf="filtersLoaded | async">

    <div class="body-wrapper">
        <header>

            <section class="filter-list">

              <a class="btn btn-expand"  *ngFor="let student of data_Student.body.studentData.students "

                    [routerLink]="['/view2']">> </a>

                    <div class="department-list">
                        <div class="department">
                            <div class="dept-name">All Departments</div>
                            <div class="subjects-wrapper">
                                <div class="subject-name active">All Subjects</div>
                            </div>
                        </div>
                    </div>
            </section>
        </header>


        <section>

            <div class="data-wrapper">

                <ul class="filtered-student" *ngFor="let student of data_Student.body.studentData.students">
                    <li>
                        <span class="name">{{student.familyName}}, {{student.givenName}}</span>
                        <span class="dob">DOB: <span class="value">{{student.dob|date:"MM/dd/yyyy" }}</span></span>
                        <span class="admit-date">Admitted: <span class="value">{{student.admitDate|date:"MMMM dd,yyyy"}}</span></span>
                        <span class="grad-date">Anticipated Graduation: <span class="value">{{student.anticipatedGraduationDate|date:"MMMM yyyy"}}</span></span>
                        <span class="mentor">Mentor: <span class="value">{{student.mentor.familyName}}, {{student.mentor.givenName}}</span></span>
                    </li>

                </ul>


            </div>
        </section>
    </div>
</body>

</html>
